[Desktop Entry]

Type=Application
Name=Remote Keyboard & Mouse Client
Comment=Control keyboard and mouse remotely
Exec=rkmc
Categories=Utility;RemoteAccess;Network;System
